body {
    background-color: #fffef0;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    max-width: 80%;
    margin: auto;
  }
p {
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 50px;
    margin-right: 50px;
    font-family: cursive;
    }
H1 {
    text-align: center;
    font-family: 'luminari-regular';
    }

H2 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'luminari-regular';
    }

@font-face {
    font-family: 'luminari-regular';
    src: url('Luminari-Regular.ttf');
    }

    img {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 500px
        }
    figcaption {
        text-indent: 1em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        margin-left: 50px;
        margin-right: 50px;
        font-family: cursive;
        text-align: center;
    }
hr {
    width: 50%;
    text-align: center;
    border: dotted;
    }
table {
    text-align: center;
    margin: auto;
    font-size: larger;
    }
a:link {
    color: #820000;
    text-decoration: none
    }
link {
    color: #820000;
    text-decoration: none
    }
a:hover {
    color: #00008B;
    }